/* Header sát mép trái */
header {
    background-color: #ffffff;
    color: #2c3e50;
    padding: 10px;          /* giữ khoảng cách nhỏ để chữ không dính hẳn vào mép */
    text-align: left;       /* căn trái */
    border-bottom: 2px solid #dcdcdc;
}


header h1 {
    margin: 0;
    font-size: 32px;
}

/* Menu ngang sát mép trái */
nav {
    background-color: #a0b7f5; /* xanh lá nhạt */
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;               /* menu ngang */
    justify-content: flex-start; /* căn trái */
}

.menu > li {
    position: relative;
    padding: 14px 20px;
    color: #1f2d3b;
    cursor: pointer;
    font-weight: bold;
}

.menu > li:hover {
    background-color:#152451 ;
    color: white;
}

/* Submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #a0b7f5;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    z-index: 1000;
}

.submenu li {
    padding: 10px 15px;
    color: #2c3e50;
    font-weight: normal;
}

.submenu li:hover {
    background-color: #152451;
    color: white;
}

/* Hiện submenu khi hover */
.menuparent:hover .submenu {
    display: block;
}

.menu a {
    text-decoration: none;   /* bỏ gạch chân */
    color: inherit;          /* lấy màu từ thẻ li */
    display: block;          /* để hover full dòng */
}

.menu a:hover {
    text-decoration: none;
}


 





