body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.chitiet-tl {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.chitiet-tl .info {
  flex: 1;
}

.chitiet-tl.image img {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-muon {
  display: inline-block;
  padding: 10px 20px;
  background: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn-muon:hover {
  background: #218838;
}

.het-sach {
  color: red;
  font-weight: bold;
}

.btn-back {
  text-decoration: none;
  color: #007bff;
}

.btn-back:hover {
  text-decoration: underline;
}
.btn-fav {
  display: inline-block;
  padding: 10px 20px;
  background: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}

.btn-fav:hover {
  background: #e60000;
}
/* .btn-yeuthich {
  padding: 10px 18px;
  border-radius: 6px;
  border: 2px solid #e74c3c;
  background: white;
  color: #e74c3c;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.da_yeuthich {
  background: #e74c3c;
  color: white;
} */
