.btn-yeuthich {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 18px;
  border-radius: 6px;

  border: 2px solid #e74c3c;
  background-color: #fff;
  color: #e74c3c;

  font-size: 16px;
  font-weight: 500;

  text-decoration: none; /* bỏ gạch chân */
  cursor: pointer;

  transition: all 0.25s ease;
}

.btn-yeuthich:hover {
  background-color: #ffe6e3;
}

.da_yeuthich {
  background-color: #e74c3c;
  color: #fff;
}
